<div class="main">
  <div class="main_inline">
      <div class="background-container">
        <h1>About</h1>
        <h2>特別な日を彩るケーキ</h2>
      </div>
      <div class="about_info">
        <p>Nagano Cakeは、長野の自然が生み出す新鮮な食材と、<br>熟練パティシエの技術が融合した特別なケーキをお届けするオンラインショップです。
        <br>四季折々の味わいを大切にし、素材そのものの魅力を活かした商品で、大切な人との特別なひとときを彩ります。</p>
      </div>
  </div>
</div>

