<div class="main_inline flex-row">
    <div class="side_genre">ジャンル一覧</div>
    <div class="top_intro">
        <div class="background_top">
            <h1>Nagano Cake</h1>
            <h2>特別なひとときをを彩るケーキ</h2>
        </div>
        <div class="mt_40px new_product">
            新着商品
        </div>
    </div>
</div>

