<div class="main_inline flex-row">
    <div class="side_genre">ジャンル一覧</div>
    <div class="top_intro">
        <p>特別なひとときをを彩るケーキ</p>
        <div class="mt_40px new_product">
            新着商品
        </div>
    </div>
</div>

